/*
 * Все паршалы импортировать в этот файл
 */

@import 'normalize.scss';
@import 'base.scss';

.scene {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  perspective: 50vh;
  perspective-origin: center center;
}

.cube {
  $width: 25vh;
  $height: $width;

  width: $width;
  height: $height;
  // border: 2px dotted white;
  transform-style: preserve-3d;
  transition: 700ms ease-in-out;

  &:hover {
    transform: rotateY(180deg);
  }

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: $width;
    height: $height;
    // border: 2px dotted white;
  }

  &:before {
    transform: rotateX(90deg);  
  }
  
  &:after {
    transform: rotatey(90deg);  
  }

  &__face {
    position: absolute;
    width: $width;
    height: $height;
    // border: 1px solid white;
    // opacity: .7;

     

    &--back {
      transform: translateZ(-$width / 2);
      background: rgba(orange, 0.7);
    }

    &--front {
      transform: translateZ($width / 2);
      background: rgba(gold, 0.7);
    }

    &--top {
      transform: translateY(-$width / 2) rotateX(90deg);
      background: rgba(skyblue, 0.7);
    }

    &--bottom {
      transform: translateY($width / 2) rotateX(90deg);
      background: rgba(steelblue, 0.7);
    }

    &--left {
      transform: translateX(-$width / 2) rotateY(90deg);
      background: rgba(lightgreen, 0.7);
    }

    &--right {
      transform: translateX($width / 2) rotateY(90deg);
      background: rgba(yellowgreen, 0.7);
    }
  }
}

.media-box {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  img,
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__overlay {
    position: absolute;
    pointer-events: none;
    object-fit: contain !important;

    .cube__face--front & {
      bottom: 2%;
      left: 2%;
      width: 30%;
      height: 30%;
    }

    .cube__face--back & {
      position: absolute;
      top: 0;
      left: 0;
      transform: rotateY(180deg);
      transition: opacity 500ms ease-in 500ms;
      pointer-events: none;
      opacity: 1;

      &.hide {
        opacity: 0;
        transition: opacity 700ms ease-in 1500ms;
      }
    }
  }
}

.nav-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  display: flex;
  width: 120px;
  height: 120px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #e70d44;

  &::before {
    content: "\0020";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    display: block;
    // background: #e70d44;
    transform-origin: right top;
    transform: scale(0.95);
    opacity: 0;
    transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1) 0ms;
  }

  &.open {
    position: fixed;
    right: 20px;
    top: 20px;
  }
}

.bar-wrapper {
  position: relative;
  width: 26px;
  height: 18px;
  transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1) 0ms;

  .nav-toggle.open & {
    transform: translateY(-5px);
  }
}

.bar {
  position: absolute;
  display: block;
  width: 26px;
  height: 3px;
  background: #fff;
  transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1) 0ms;

  &:first-child {
    top: 0;
    width: 22px;

    .nav-toggle:hover & {
      width: 26px;
    }

    .nav-toggle.open & {
      top: 13px;
      width: 26px;
      transform: rotate(45deg);
    }
  }

  &:nth-child(2) {
    top: 9px;

    .nav-toggle:hover & {
      width: 14px;
    }

    .nav-toggle.open & {
      opacity: 0;
    }
  }

  &:last-child {
    top: 18px;
    width: 14px;

    .nav-toggle:hover & {
      width: 22px;
    }

    .nav-toggle.open & {
      top: 13px;
      width: 26px;
      transform: rotate(-45deg);
    }
  }
}